<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LibreHardwareMonitorAfterburnerPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <LibreHardwareMonitorAfterburnerPlugin.Properties.Settings>
            <setting name="MainboardEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GpuEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FanControllerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HddEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemperatureEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FanSpeedEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControlEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClockEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoltageEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PowerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlowEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FactorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatteryEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PsuEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </LibreHardwareMonitorAfterburnerPlugin.Properties.Settings>
    </userSettings>
</configuration>
