<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HidSharp" version="2.1.0" targetFramework="net46" />
  <package id="LibreHardwareMonitorLib" version="0.8.7" targetFramework="net46" />
  <package id="System.Management" version="4.7.0" targetFramework="net46" />
  <package id="DllExport" version="1.7.4" targetFramework="net40" />
</packages>