name: CI Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restore
        run: msbuild LibreHardwareMonitorAfterburnerPlugin.csproj -t:Restore -p:Configuration=Release

      - name: Build
        run: msbuild LibreHardwareMonitorAfterburnerPlugin.csproj -t:Build -p:Configuration=Release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: LibreHardwareMonitorAfterburnerPlugin
          path: bin/Release/net48/win-x86
